<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body>

    <div class="container">
      <h1>ATLAS</h1>

      <div class="row">
        <div class="col-xs-12 col-md-4">
          <h2>Last heartbeat</h2>

          <dl>
            <dt>Timestamp</dt>
            <dd>{{heartbeat.start_time}}</dd>

            <dt>External temperature</dt>
            <dd>{{degrees-celsius heartbeat.external_temperature}}</dd>

            <dt>Mount temperature</dt>
            <dd>{{degrees-celsius heartbeat.mount_temperature}}</dd>

            <dt>Atmospheric pressure</dt>
            <dd>{{millibars heartbeat.pressure}}</dd>

            <dt>Relative humidity</dt>
            <dd>{{percentage heartbeat.humidity}}</dd>

            <dt>Battery #1 state of charge</dt>
            <dd>{{orion-percentage heartbeat.soc1}}</dd>

            <dt>Battery #2 state of charge</dt>
            <dd>{{orion-percentage heartbeat.soc2}}</dd>
          </dl>
        </div>

        <div class="col-xs-12 col-md-4">
          <h2>Last scan</h2>

          <dl>
            <dt>Start time</dt>
            <dd>{{heartbeat.last_scan.start}}</dd>

            <dt>End time</dt>
            <dd>{{heartbeat.last_scan.end}}</dd>

            <dt>Number of points</dt>
            <dd>{{heartbeat.last_scan.detail.num_points}}</dd>
          </dl>
        </div>

        <div class="col-xs-12 col-md-4">
          <h2>Images</h2>

          {{#each cameras}}
          <div class="thumbnail">
            <a href="{{latest_image.url}}">
              <img src="{{latest_image.url}}" alt="The latest image from the {{name}} camera.">
            </a>
            <div class="caption">
              <p>Image taken by <code>{{name}}</code> at {{latest_image.datetime}}</p>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
