<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/atlas.lidar.io.css">
  </head>
  <body>

    <div class="container">

      <h1>ATLAS</h1>

      <div class="status-report">
        <ul class="status-report-list">
          {{#each status}}
          <li class="status-report status-report-{{name}}">
            <span class="glyphicon glyphicon-{{glyphicon}}" aria-hidden="true"></span>
            <span class="status-report-name">{{@key}}</span>
            <span class="status-report-status">{{name}}</span>
          </li>
          {{/each}}
        </ul>
      </div>

      <div class="row">
          {{#with heartbeat}}
        <div class="col-sm-3 col-xs-12">
          <h3>Battery 1</h3>
          {{battery-charge soc1}}

          <h3>Battery 2</h3>
          {{battery-charge soc2}}
        </div>

        <div class="col-xs-12 col-md-4 col-md-offset-1">
          <h2>Last heartbeat</h2>

          <dl>
            <dt>Timestamp</dt>
            <dd>{{start_time}}</dd>

            <dt>External temperature</dt>
            <dd>{{degrees-celsius external_temperature}}</dd>

            <dt>Mount temperature</dt>
            <dd>{{degrees-celsius mount_temperature}}</dd>

            <dt>Atmospheric pressure</dt>
            <dd>{{millibars pressure}}</dd>

            <dt>Relative humidity</dt>
            <dd>{{percentage humidity}}</dd>
          </dl>
        </div>

        <div class="col-xs-12 col-md-4">
          <h2>Last scan</h2>

          <dl>
            <dt>Start time</dt>
            <dd>{{last_scan.start}}</dd>

            <dt>End time</dt>
            <dd>{{last_scan.end}}</dd>

            <dt>Number of points</dt>
            <dd>{{commas last_scan.detail.num_points}}</dd>
          </dl>
        </div>
        {{/with}}
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
